========================
DATABASE
========================

DB_URL=jdbc:postgresql://localhost:5433/finance_manager
DB_USERNAME=
DB_PASSWORD=

========================
JWT
========================

JWT_SECRET=
JWT_EXPIRATION=86400000
JWT_REFRESH_EXPIRATION=172800000